{
    "spreadsheet_url": "https://docs.google.com/spreadsheet/pub?key=0Ao-FPaoAEqtUdDduMXBVWjRDN3lvZlRhRVpHTEczcVE&single=true&gid=0&output=csv",
    "course_dump_csv": "public/2012-courses-fw.csv",
    "rss_author" : "York University Libraries",
    "rss_about": "http://www.library.yorku.ca/",
    "rss_channel_title": "My Librarian",
    "subject_defaults":
    [
	{
	    "faculty": "gl",
	    "title": "Frost Library research help",
	    "url": "http://www.library.yorku.ca/cms/frost/"
	},
	{
	    "faculty": "hh",
	    "title": "Steacie Library research help" ,
	    "url": "http://www.library.yorku.ca/cms/steacie/"
	},
	{
	    "faculty": "lw",
	    "title": "Law Library research help",
	    "url": "http://www.library.yorku.ca/cms/steacie/"
	},
	{
	    "faculty": "sb",
	    "title": "Bronfman Library research help",
	    "url": "http://www.library.yorku.ca/cms/steacie/"
	},
	{
	    "faculty": "sc",
	    "title": "Steacie Library research help",
	    "url": "http://www.library.yorku.ca/cms/steacie/"
	},
	{
	    "faculty": "default",
	    "title": "Scott Library research help",
	    "url": "http://www.library.yorku.ca/cms/scottreference/"
	}
    ],
    "liaison_defaults":
    [
	{
	    "faculty": "gl"
	},
	{
	    "faculty": "hh"
	},
	{
	    "faculty": "lw"
	},
	{
	    "faculty": "sb"
	},
	{
	    "faculty": "sc"
	},
	{
	    "faculty": "default"
	}
    ]
}
